{% extends 'base.html' %}


{% block title %} About{% endblock title%} 


{% block body %}          


        <main class="container">
        <div class="bg-light p-5 rounded">
            <h1>iKoshur Blogs</h1>
            <p class="lead">This is the main blog page of the iKoshur pag where we will be dealing with the blogs of the various authors and writers globally to influence the young generation. This page will be the medium for various other people to connect and get indulged in the various activities in the valley.</p>
            <a class="btn btn-lg btn-danger" href="/blog" role="button">Blogs and magazines&raquo;</a>
        </div>
        </main>

{% endblock body%}